.btn:hover{
    color: white!important;
}

.nav-link:hover
{
    color: #a6c!important;
}

.navbar-brand
{
    color: #a6c!important;
    font-family: 'Calistoga', cursive;
    font-size: 25px;
    margin-left: -9rem!important;
}

.logb
{
    margin-right: -8rem!important;
}

.navbar{
    font-family: 'Calistoga', cursive;
}

.bcklog
{
    background-color: #a6c!important;
}

.regco:hover
{
    color: #a6c!important;
}

#main-footer
{
	background: #212121;
	color: #fff;
	text-align: center;
    padding-bottom: 5px;
    padding-top: 18px;
    font-family: 'Calistoga', cursive;
	margin-top: 40px;
}

footer {
 position: relative;
 bottom: 0;
 width: 100%;
}

footer#main-footer
{
    margin-top: 0;
}

.background-image
{
    width: 100%;
    margin-bottom: 0px;
}

.tite-page-open
{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6c;
    font-family: 'Play', sans-serif;
    font-size: 55px;
  }

  .centered2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6c;
    font-family: 'Play', sans-serif;
    font-size: 45px;
  }

  .centered3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6c;
    font-family: 'Play', sans-serif;
  }